# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
.turbo/
.expo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
.env.development
.env.production
.env.staging
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp
*.swo

# test
coverage/
playwright-report/
test-results/

# prisma generated client
packages/db/generated/

# expo
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/
apps/mobile/*.jks
apps/mobile/*.p8
apps/mobile/*.p12
apps/mobile/*.key
apps/mobile/*.mobileprovision
apps/mobile/*.orig.*

# secrets / runtime
*.pem
*.key
.terraform/
.terraform.lock.hcl
